################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MealMelt/bin
/MealMelt/obj
/MealMelt.Repository/obj
/MealMelt.Repository/bin
/.vs
/EFMigrations/bin/Debug/netcoreapp2.2
/EFMigrations/obj
